@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabajo final</h1>
    <p>
        Integrantes:
    </p>
    <p>
        Ø  Aaron Martinez Aragones – 2019-1496 / A00103919
    </p>
    <p>
        Ø  Moisés Manuel Diaz Pérez – 2019-1864 / A00104286
    </p>
    <p>
        Ø  Karen B. Arias Torres – 2019-2365 / A00104787
    </p>
    <p>
        Ø  John D. Medina Mateo – 2019-0837 / A00103261
    </p>

</div>
